aside {
    margin-left: 15px;
    padding: 30px 30px;
    background: var(--color-article);

    position: sticky;
    top: 30px;

    p {
        margin-bottom: 0.5em;
    }

    .viewport {
        display: flex;
        align-items: center;

        .meter {
            flex-grow: 1;

            margin: 0 15px;
            height: 3px;
            background: var(--color-fg);

            overflow: hidden;
            position: relative;

            .cursor {
                position: absolute;
                background: var(--color-viewport-color);
                height: 3px;
            }
        }

        .upbound,
        .lobound {
            display: inline-block;
            width: 2em;
            flex-shrink: 0;
        }
        .lobound {
            text-align: right;
        }
    }

    .toc {
        margin-top: 30px;

        .toc-label {
            color: var(--color-header);
        }
    }

    #TableOfContents {
        margin: 0 -15px;

        ul {
            list-style: none;
        }

        li > ul a {
            padding-left: calc(1.5em + 15px);
        }

        li > a {
            display: inline-block;
            width: 100%;
            padding: 0.35em 15px;
            border-radius: 5px;

            text-decoration: none;
            color: var(--color-fg);

            &:active {
                color: var(--color-header);
            }

            &:hover {
                background: var(--color-toc-hover);
            }
        }
    }
}
