nav.nav-bar {
    --navlink-border-thickness: 2px;


    // magic: CSS 居中于滚动条跳跃导致问题的解决
    padding-left: calc(100vw - 100%);

    background: var(--color-nav-bg);

    .container {
        display: flex;
        overflow-x: auto;
    }

    .container > * {
        flex-shrink: 0;
    }

    a {
        display: inline-block;
        padding: calc(1em - var(--navlink-border-thickness));

        text-decoration: none;
        color: var(--color-nav);
        user-select: none;

        transition: color .15s ease-in-out;
        &:hover {
            color: var(--color-nav-link-hover);
        }
    }

    .brand {
        display: inline-block;
    }

    ul.nav-links {
        display: flex;
        list-style: none;
        margin-right: auto;

        > li {
            display: inline-block;
            margin: 0 7.5px;
        }
    }

    .nav-link {
        border-bottom: var(--navlink-border-thickness) solid transparent;

        &.active {
            border-bottom: var(--navlink-border-thickness) solid var(--navlink-active-border);
            &:hover {
                color: var(--color-nav);
                cursor: default;
            }
        }
    }

    #theme-preference-tool {
        display: flex;
        align-items: center;

        > button {
            display: flex;
            justify-content: center;
            align-items: center;

            > svg {
                width: 20px;
                height: 20px;
            }
            padding: 5px 10px;

            color: var(--color-header);
            background: var(--tools-bg);
            border: 1px solid var(--tools-fg);

            transition: outline .15s ease-in-out;

            &.active {
                background: #555;
            }

            &:hover {
                cursor: pointer;
                z-index: 1; // 放置 outline 被遮挡
            }

            &:active {
                outline: solid;
            }

            &:focus {
                outline: solid;
                z-index: 1;
            }

            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            &:not(:first-child) {
                margin-left: -1px;
            }
        }
    }
}
