nav.nav-bar {
    background: var(--color-nav-bg);

    .container {
        display: flex;
        overflow-x: auto;
    }

    .container > * {
        
        flex-shrink: 0;
    }

    a {
        display: inline-block;
        padding: calc(1em - var(--navlink-border-thickness));

        text-decoration: none;
        color: var(--color-nav);
        user-select: none;

        transition: color .15s ease-in-out;
        &:hover {
            color: var(--color-nav-link-hover);
        }
    }

    .brand {
        display: inline-block;
    }

    ul.nav-links {
        display: flex;
        list-style: none;

        > li {
            display: inline-block;
            margin: 0 7.5px;
        }
    }

    .nav-link {
        border-bottom: var(--navlink-border);

        &.active {
            border-bottom: var(--navlink-border-active);
            &:hover {
                color: var(--color-nav);
                cursor: default;
            }
        }
    }
}
