.tools {
    position: fixed;
    bottom: 35px;
    right: 20px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 42px;
        height: 42px;

        color: var(--tools-fg);
        background: var(--tools-bg);
        border: none;
        appearance: none;
        border-radius: 5px;

        transition: color .15s ease-in-out;
        &:hover {
            cursor: pointer;
            color: var(--tools-hover);
        }
    }

    #top-tool {
        visibility: hidden;
    }
}

.loadingbar {
    position: fixed;
    top: 0;

    width: 100%;
    height: var(--loadingbar-thickness);

    // background: red;

    .meter {
        height: var(--loadingbar-thickness);
        pointer-events: none;
    }

    &.active .meter {
        background: var(--loadingbar-color);
        animation: loading 2.25s infinite .75s;
    }
}

@keyframes loading {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
        opacity: 0.5;
    }
}
