ul.pagination {
    list-style: none;
    display: flex;

    border-radius: 5px;
    overflow: auto;

    background: var(--pagination-bg);

    li.page-item {

        user-select: none;

        &.active {
            background: var(--pagination-active);
        }

        &.disabled a:hover,
        &.active a:hover {
            color: var(--pagination-fg);
        }

        > a,
        > span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4.2em;
            height: 3em;
        }

        a {
            color: var(--color-fg);
            text-decoration: none;

            transition: color .15s ease-in-out;
            &:hover {
                color: var(--pagination-hover);
            }
        }

        &:nth-last-child(3) {
            margin-right: auto;
        }

        // 分隔边框
        // &:not(:last-child) {
        //     border-right: 1px solid #555;
        // }
    }
}
