:root[data-theme="dark"] {
    // default color
    --color-fg: hsl(219, 18%, 68%);
    --color-bg: hsl(219, 12%, 12%);
    // --color-bg: hsl(0, 0%, 12%);
    
    // default variant
    --color-fg-darker: hsl(219, 15%, 45%);

    // text foreground
    --color-header: hsl(219, 26%, 78%);

    // bakcground
    --color-article: hsl(219, 8%, 19%);
    --color-code: hsl(219, 12%, 12%);

    // ::selection
    --color-select-fg: var(--color-fg);
    --color-select-bg: hsl(219, 28%, 42%);

    // a
    --link-fg: var(--color-header);
    --link-hover: #6495ed;

    // inline code
    --inline-code-fg: var(--color-fg);
    --inline-code-bg: #555;
    --inline-code-padding: .2em .4em;
    --inline-code-border-radius: 6px;

    // nav
    --color-nav: hsl(0, 0%, 95%);
    --color-nav-bg: hsla(0, 0%, 0%, 0.1);
    --color-nav-link-hover: #6495ed;
    --navlink-active-border: #6495ed;

    // aside viewport cursor
    --color-viewport-color: hsl(258, 95%, 62%);
    --color-viewport-thickness: 3.8px;
    // aside TableOfContents
    --color-toc-hover: #555;

    // tools
    --tools-fg: var(--color-header);
    --tools-bg: var(--color-article);
    --tools-hover: #6495ed;
    --loadingbar-color: #6495ed;
    --loadingbar-thickness: 2px;

    // pagination
    --pagination-fg: var(--color-fg);
    --pagination-bg: var(--color-article);
    --pagination-active: #424242;
    --pagination-hover: #6495ed;

    // tags
    --tags-fg: var(--color-fg);
    --tags-bg: #333;

    // blockquote
    --blockquote-bg: hsla(0, 0%, 0%, 0.2);
    --blockquote-border: 3px solid var(--color-header);
}

:root[data-theme="light"] {
    // default color
    --color-fg: hsl(219, 12%, 12%);
    --color-bg: hsl(219, 18%, 68%);

    // nav
    --color-nav-bg: hsla(0, 0%, 0%, 0.1);
}
