@import "variable";
@import "nav";
@import "postlist";
@import "pagination";
@import "banner";
@import "post";
@import "overlay";
@import "aside";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: light dark;

    color: var(--color-fg);
    background: var(--color-bg);

    // 字体渲染
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    scroll-behavior: smooth;

    // magic: CSS 居中于滚动条跳跃导致问题的解决
    margin-left: calc(100vw - 100%);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > * {
    flex-shrink: 0;
}

#main-container {
    flex-grow: 1;
}

::selection {
    color: var(--color-select-fg);
    background: var(--color-select-bg);
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         background: #22272e;
//     }
// }

a {
    color: var(--link-fg);
    transition: color .15s ease-in-out;
    &:hover {
        color: var(--link-hover);
    }
}

footer {
    margin: 2em 0;
}

pre > code {
    display: inline-block;
    background: unset;
    padding: unset;
    border-radius: unset;
    font-size: unset;
}

code {
    display: inline-block;
    padding: var(--inline-code-padding);
    border-radius: var(--inline-code-border-radius);

    color: var(--inline-code-fg);
    background: var(--inline-code-bg);

    font-size: 0.85em;
}

// layout

.single-row {
    margin-top: 2em;
}
