<nav class="nav-bar">
    <div class="container">
        <div class="brand">
            <a href="{{ .Site.Home.Permalink }}">{{ .Site.Title }}</a>
        </div>
        <ul class="nav-links">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li>
                <a class="nav-link{{if (eq ($currentPage.RelPermalink) .URL) }} active{{ end }}" href="{{ .URL | relURL }}">
                    <i class="fa-li fa {{ .Pre }} fa-lg"></i>
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
        <div id="theme-preference-tool">
            <button class="theme-btn" data-theme="light"><i data-feather="sun"></i></button>
            <button class="theme-btn" data-theme="dark"><i data-feather="moon"></i></button>
            <button class="theme-btn" data-theme="preference"><i data-feather="tool"></i></button>
        </div>
    </div>
</nav>
